<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- < -->
  <div class="form-group" id="container">
    <form action="http://localhost:8080/post" method="post" enctype="multipart/form-data">
      <center><h1 style="color: white;">Wallpaper Upload</h1>  </center>
<br>br  
<center>  <label for="Device" style="color: white;">Choose a Device:</label></center>  

   <center>   <select name="device" id="Mob" style="width: 150px;">
        <option value="Mobile">Mobile</option>
        <option value="PC">PC</option>
      </select></center><br>

    <center>  <label for="wallpaper" style="color: white;">Choose theme :</label><br>

      <select name="wallpaper" id="Mob">
        <option value="Nature">Nature</option>
        <option value="Sports">Sports</option>
        <option value="Dark Wallpaper">Dark Wallpaper</option>
      </select></center><br>

    <center><input type="file" name="file" class="form-control-file text-white" id="" style="margin-left: 150px;"></center>
    <center><br>
    <button class="btn btn-outline-success my-2 my-sm-0" id="dimg" type="submit" >submit</button></center>
  </form>

  </div>

    <!-- <div class="cart">
        <div class="wallpaper" width="350px" height="350px" style="margin-left: 52px;">
            <img src="bg.jpg" class="zoom" width="350px" height="350px" alt=""><br><br>
            <button class="btn btn-outline-success my-2 my-sm-0" id="dimg" >Download Image</button>
        </div>
    </div> -->
    
</body>
<style>
  body{
        background-color: whitesmoke;

  }
  #container{
    height: 500px;
    width: 500px;
    background-color: #282828;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
</style>
</html>