<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-dark" style="color: white;">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:8080/getData/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://localhost:8080/getDataForMobileDark">Dark</a>
                <a class="dropdown-item" href="http://localhost:8080/getDataForMobileNature">Nature</a>
                <a class="dropdown-item" href="http://localhost:8080/getDataForMobileSports">Sports</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
            </nav>
            <br><br>

            <%dataList.forEach(data =>{%>
                <div class="column">
              <div class="card">
                <img src="/upload/<%=  data.image %>"style="width:100%" id="img"><br>
                <a href="/upload/<%=  data.image %>" class="dimg" download> Download</a><br><br>
            </div>
                </div>

            <%})%>
    
 
           

    <script src="../connectivity.js"></script>

</body>
<style>

body{
    background-color: #282828;
}


h1{
  font-size: 75px;
  color: chocolate;
  text-shadow: 2px 15px 25px black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  color: palegoldenrod;
  font-family: arial;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  border-radius: 35px;
}
img{
  border-radius: 35px;
  border: 2px solid white;
  height: 500px;
}

.price {
  color: palegoldenrod;
  font-size: 22px;
}
#myBtn{
  border: 1px solid grey;
  border-radius: 50px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
 
  /* position: absolute;
  top: 10px;
  right: 10px; */
    line-height: 12px;
       /* width: 18px; */
       font-size: 8pt;
       font-family: tahoma;
       margin-top: 1px;
       margin-right: 78px;
       position:absolute;
       top:0;
       right:0;
  }



.card button {
  border: 1px solid grey;
  border-radius: 50px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  box-shadow: 0 0 11px chocolate; 
}

.column {
  float: left;
  width: 23%;
  padding: 0 10px;
  margin-top: 10px;
}
.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    /* margin-bottom: 20px; */
  }
}

.card:hover {
  box-shadow: 0 0 11px rgba(255,255,255,1); 
}

#box{
  height: 300px;
  width: 300px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: auto;
}
table, td{
  border: 1px solid black;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dimg {
    width: 250px;
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin-left: 30px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dimg:hover {
  background-color: yellow;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.dimg:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .dimg {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
</style>


</html>