<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<title>HOME</title>
</head>
<body>
    <nav class="navbar navbar-light bg-dark" style="color: white;">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/getDataForMobile">Mobile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://localhost:8080/getDataForDark">Dark</a>
                <a class="dropdown-item" href="http://localhost:8080/getDataForNature">Nature</a>
                <a class="dropdown-item" href="http://localhost:8080/getDataForSports">Sports</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
            </nav>
            <br><br>
    <div id="container">
    
                <%dataList.forEach(data =>{%>
                    

                        <div class="col-sm">                          
                        <div class="wallpaper" width="350px" height="350px" style="margin-left: 52px;">
                            <img src="/upload/<%=  data.image %>" class="zoom" alt=""><br><br>
                            <a href="/upload/<%=  data.image %>" class="dimg" download><i class="fa fa-download"></i></a><br><br>
                        </div>
                    </div>
</div>
                </div>

                
                      <%})%>
              
           

    </div>
    <script src="../connectivity.js"></script>

</body>
<style>

body{
    background-color: #282828;
}

img{
  width: 100%;
  height: 45%;
}
.zoom{
    box-shadow: 0 4px 8px 0 rgba(236, 227, 227, 0.2);
    border-radius: 8px;

}

.fa-download:hover{
  color: black;
}
/* .zoom:hover {
  box-shadow: 0 0 11px rgba(255,255,255,1); 
} */

/* CSS */
.dimg {
  position: absolute;
  top: 85%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* .dimg:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.dimg:active {
  transform: scale(1.025);
} */

@media (min-width: 768px) {
  .dimg {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }

body{
    background-color: #282828;
}

img{
  width: 70%;
  height: 50%;
}
.zoom{
    box-shadow: 0 4px 8px 0 rgba(236, 227, 227, 0.2);
    border-radius: 8px;

}

.fa-download:hover{
  color: black;
}
/* .zoom:hover {
  box-shadow: 0 0 11px rgba(255,255,255,1); 
} */

/* CSS */
.dimg {
  position: absolute;
  top: 85%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
}
</style>


</html>